<div class="container">
  <h1 class="text-center">Liste des absents au <%= @objective.objective_type %> de <%= @objective.project.name %></h1>

  <% @missing.each do |m| %>
    <h3><%= m.email %></h3>
  <% end %>
</div>
