<div class="container">
  <% @project.objectives.each do |o| %>
      <div class="col-sm-4">
        <h2 class="text-center"><%= o.objective_type %></h2>
        <div class="text-center">
          <%= link_to "Liste des absents",  stats_absents_path(:id => o.id), :class => "btn btn-default" %>
        </div>

        <% @support = ((o.get_valid_objectives.to_f / o.get_total_supports.to_f) * 100).to_i %>
        <% @present = ((o.get_total_objectives.to_f / o.get_total_supports.to_f) * 100).to_i %>

        <%= pie_chart({ "Present" => @present, "Absent" => (100 - @present) }) %>
        <%= pie_chart({ "Objectifs validés" => @support, "Objectifs non validés" => (100 - @support) }) %>
      </div>
  <% end %>
</div>