<div class="container">
  <% @project.objectives.each do |o| %>
      <div class="col-sm-4">
        <h2 class="text-center"><%= o.objective_type %></h2>
        <div class="text-center">
          <%= link_to "Liste des absents",  stats_absents_path(:id => o.id), :class => "btn btn-default" %>
        </div>

        <% @valid = o.get_valid_objectives %>
        <% @invalid = o.get_invalid_objectives %>
        <%= pie_chart({ "Objectif rempli" => @valid, "Objectif non rempli" => @invalid, "Absent" => (o.get_total_supports - @valid - @invalid)}) %>
      </div>
  <% end %>
</div>