<div class="container">
  <h2 class="text-center">Mes épices</h2>
  <ul class="list-group">
    <% current_user.project_fundings.each do |p| %>
        <li class="list-group-item">
          <span class="badge"><%= p.spices %></span>
          <%= p.project.name %>
        </li>
    <% end %>
  </ul>
</div>
