<div class="container">
  <h2 class="text-center">Mes épices</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Nom du projet</th>
      <th>Nombre d'épices</th>
    </tr>
    </thead>
    <tbody>
      <% current_user.project_fundings.each do |p| %>
      <tr>
        <td><%= p.project.name %></td>
        <td><%= p.spices %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
