@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";

.text-center {
  text-align: center;
}

.error {
  background-color: red;
}

.success {
  background-color: green;
}

.flash {
  color: white;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.3em;
}

.progress {
  position: relative;
}

.progress span {
  position: absolute;
  display: block;
  width: 100%;
  color: #F1F1F1;
}

html {
  height: 100%;
}

body {
  height: 80%;
  display: block;
}

.page {
  min-height: 100%;
  display:block;
}

.footer {
  height: 20%;
  display: block;
}
